<div class="chat-list">

  <div class="chat-header">

    <h2>Chats</h2>

    <input
      type="text"
      placeholder="Buscar conversación..."
    >

  </div>

  <div class="chat-items">

    <div class="chat-item active">

      <div class="avatar">
        V
      </div>

      <div class="chat-info">

        <div class="name">
          Valentina
        </div>

        <div class="message">
          Hola 😄
        </div>

      </div>

    </div>

    <div class="chat-item">

      <div class="avatar">
        C
      </div>

      <div class="chat-info">

        <div class="name">
          Carlos
        </div>

        <div class="message">
          ¿Cómo vas?
        </div>

      </div>

    </div>

  </div>

</div>
