<div
  class="attachment-preview"
  *ngIf="archivoAdjunto as archivo"
>

  <img
    *ngIf="archivoPreviewEsImagen && archivoPreviewUrl"
    class="attachment-preview-image"
    [src]="archivoPreviewUrl"
    [alt]="archivo.name"
  >

  <div
    class="attachment-preview-icon"
    *ngIf="!archivoPreviewEsImagen"
  >
    {{ obtenerSiglaAdjunto() }}
  </div>

  <div class="attachment-preview-info">
    <div class="attachment-preview-name">
      {{ archivo.name }}
    </div>

    <div class="attachment-preview-meta">
      {{ archivoPreviewEsImagen ? 'Imagen lista para enviar' : 'Archivo listo para enviar' }}
      <ng-container *ngIf="obtenerTamanoHumano() != ''">
        - {{ obtenerTamanoHumano() }}
      </ng-container>
    </div>
  </div>

  <button
    class="attachment-preview-remove"
    type="button"
    (click)="quitar.emit()"
  >
    Quitar
  </button>

</div>
